* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error-msg {
  display: none;
  color: #ff6b00;
  background: #e6ebed;
  border-radius: 10px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.error-msg img {
  width:30px;
  height:30px;
}

.modal-header {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height: 155px;
  margin-bottom:10px;
}

.modal-header .modal-title {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.modal-header .modal-title h4 {
  font-family:"Roboto", sans-serif;
  font-size:32px;
  font-weight:700;
  line-height:44px;
  text-align:left;
}

.modal-image {
  width: 100%;
}

.modal-header .modal-tech-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.modal-header .modal-tech-list li {
  list-style-type: none;
  border: 1px solid #dfe1e6;
  font-size: 13px;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.modal-tech-list.modal-tech-lists button {
  background: #fff;
}

.modal-image img {
  object-fit: contain;
  width: 100%;
}

.modal-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
}

.modal-title .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.modal-footer a {
  display: flex;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background: #ff6b00;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
}

.modal-footer .modal-footer-btn span {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.modal {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(5%, 0) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: #fff;
  width: 90%;
  overflow-y: scroll;
  padding: 16px;
}

.modal.active {
  transform: translate(5%, 0) scale(1);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal-header {
    justify-content: unset;
    gap: 7px;
  }

  .desktop-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-image {
    width: 55%;
  }

  .modal-image img {
    width: 100%;
  }

  .modal-body-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-footer {
    justify-content: flex-start;
    gap: 5px;
  }
}
