* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error-msg {
  display: none;
  color: #ff6b00;
  background: #e6ebed;
  border-radius: 10px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.error-msg img {
  width: 30px;
  height: 30px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 118px;
  margin-bottom: 10px;
}

.modal-header .modal-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-header .modal-title h4 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.modal-image {
  width: 100%;
}

.modal-header .modal-tech-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.modal-tech-list > li {
  list-style-type: none;
  border: 1px solid #dfe1e6;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.modal-tech-lists > button {
  background: #fff;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

.modal-image img {
  object-fit: contain;
  width: 100%;
}

.modal-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
}

.modal-title .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: #67798e;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.see-source {
  display: flex;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background: #ff6b00;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.see-live {
  display: flex;
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  background: #ff6b00;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.modal {
  position: fixed;
  top: 50px;
  left: 5%;
  bottom: 0;
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: #fff;
  width: 90%;
  padding: 16px;
  overflow: auto;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal-header {
    justify-content: unset;
    gap: 7px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .desktop-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 36px;
  }

  .modal-image {
    width: 55%;
  }

  .modal-image img {
    width: 100%;
  }

  .modal-body-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4px;
  }

  .modal-footer {
    justify-content: flex-start;
    gap: 5px;
  }

  .modal-body {
    margin-top: -2px;
  }

  .modal-tech-lists a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  .modal {
    height: max-content;
  }
}
