/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  background-image: url(./images/illustration.png);
  background-position: bottom -40px right;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
}

.nav-bar {
  background: #3c3a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 13.7vh;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.nav-bar img {
  height: 15px;
  cursor: pointer;
}

h1 {
  color: #fff;
}

.my-name {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  height: 35vh;
  padding-top: 20vh;
  padding-bottom: 0;
  align-items: flex-end;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}

.my-job h3 {
  color: #fff5e1;
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.job-details {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.social-icons {
  display: flex;
  height: 10vh;
  padding-top: 37px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.social-icons li {
  list-style-type: none;
  padding: 5px 15px;
}

.social-icons li a {
  text-decoration: none;
}

.works {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
  padding-bottom: 120px;
}

.works h2 {
  display: grid;
  height: 25vh;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  padding-top: 15vh;
  padding-left: 24px;
}

.works hr {
  margin-top: 10vh;
  border: 1px solid #212121;
  margin-bottom: 12vh;
  margin-left: 24px;
  margin-right: 24px;
}

.works img {
  object-fit: cover;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.posts-container {
  display: flex;
  height: 50vh;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5vh;
}

.posts-container h3 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin-bottom: 2vh;
}

.posts-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2vh;
}

.works-btn button {
  display: block;
  border: 0.25px solid #8993a4;
  padding: 10px 12px;
  margin-right: 12px;
  background: #fff;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works-btn {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.works-btn li {
  list-style-type: none;
}

.works-card-btn li {
  list-style-type: none;
}

.see-works {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: 1px solid #ff6b00;
  padding: 13px;
  margin-top: 2vh;
  width: 35vw;
  cursor: pointer;
  margin-bottom: 24px;
}

.works-cards {
  background: url(./images/project-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  margin: 0 24px;
}

.works-cards h2 {
  color: #fff;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin-top: -5px;
  margin-left: 16px;
  margin-bottom: 12px;
}

.works-cards p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin-left: 16px;
  line-height: 24px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.works-card-btn {
  display: flex;
  margin-left: 6px;
  margin-bottom: 22px;
}

.works-card-btn button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  color: #fff;
  background: rgba(225, 225, 225, 0.24);
  margin-left: 12px;
  padding: 10px 12px;
  height: 40px;
}

.cards-btn {
  height: 7.2vh;
  width: 100%;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: -6px;
  line-height: 24px;
  letter-spacing: 0.03%;
  text-align: center;
  color: #fff;
  border: none;
}

.about-me {
  min-height: 100vh;
  background: #1c1a19;
  padding-top: 120px;
}

.about-details {
  padding-bottom: 31vh;
  background-image: url(./images/about-me.png);
  background-position: bottom 10px right;
  background-size: auto;
  background-repeat: no-repeat;
}

.about-details h4 {
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  letter-spacing: 0.37px;
  text-align: center;
  font-weight: 400;
  margin: 0 24px;
}

.about-details p {
  color: #f4f5f7;
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.about-details button {
  background: #ff6b00;
  height: 48px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  margin-left: 24px;
  margin-top: 24px;
  border: none;
  width: 50%;
}

.technologies {
  color: #fff;
  padding-top: 20.4vh;
  min-height: 70vh;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.span-div {
  padding-top: 40px;
  display: block;
  text-align: center;
}

.technologies ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lang ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.technologies span {
  font-family: "InaiMathi", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 0 12px;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skills ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.technologies li {
  list-style-type: none;
  flex: 2;
  padding-top: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.divider {
  height: 1px;
  color: #fff;
  margin: 0 24px;
}

.contact {
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50vh;
}

.contact h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b40;
  text-align: center;
  padding-bottom: 73px;
}

.contact form > input {
  width: 100%;
  border: none;
  padding: 14px 10px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #979493;
}

.contact form > textarea {
  width: 100%;
  border: none;
  background: #fbf8f7;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-bottom: 24px;
  padding: 14px 10px;
}

.form-btn {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-color: #ff6b00;
  width: 131px;
  height: 48px;
  border: none;
  display: block;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
}

.upper-hr {
  margin-bottom: 30px;
}

footer {
  height: 10vh;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.footer-socials li {
  list-style-type: none;
  padding: 25px 10px 10px 0;
}

.cards-btn:enabled {
  background: #ff6b00;
  color: #fff;
}

.cards-btn:hover {
  background: #fff5e1;
  color: #f55800;
}

.cards-btn:active {
  background: #ff6b00;
  color: #f4f1f0;
}

.cards-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.nav-links {
  display: none;
}

@media screen and (max-width: 768px) {
  .open-menu {
    display: block;
    top: 50px;
    right: 20px;
    color: #6070ff;
    margin-right: 5px;
    font-size: 20px;
  }

  .close-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
  }

  .nav-links {
    display: none;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    opacity: 1;
    transition: 0.7s ease-in-out;
    align-items: center;
  }

  .nav-links li {
    list-style-type: none;
    cursor: pointer;
    width: 100%;
    background: #3c3a39;
    padding-left: 24px;
    padding-right: 24px;
  }

  .portfolio-toggle {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 15%;
    padding-top: 6.75rem;
  }

  .about-toggle {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 15%;
  }

  .contact-toggle {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 15%;
    padding-bottom: 78%;
  }

  .menu {
    border-bottom: 1px solid #6f6c6b;
  }

  .home-icon {
    display: block;
    margin: 27px auto 0 auto;
    width: 100%;
    margin-top: 0 !important;
    background: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #fff;
    height: 10px;
    position: relative;
  }

  .nav-links li a {
    display: inline-block;
    font-size: 32px;
    color: #fff5e1;
    font-weight: 700;
    line-height: 44px;
    margin: 10px 0 0;
    padding: 30px 4px 4px 0;
    border-bottom: 1px solid lightgray;
  }
}

@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .open-menu {
    display: none;
    cursor: pointer;
  }

  .close-menu {
    display: none;
  }

  .home-icon {
    display: none;
  }

  body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    background: #1c1a19;
    background-image: url(./images/desktop-headerbg.png);
    background-position: bottom -40px right;
    background-repeat: no-repeat;
    background-size: 500px;
    height: 100vh;
  }

  #drop-menu {
    display: none;
  }

  .nav-bar {
    background: #3c3a39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 13.7vh;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .nav-links li {
    list-style-type: none;
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
  }

  .nav-links a {
    display: block;
  }

  .introduction {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 100px 0 20px;
    height: 110vh;
  }

  .wrap-items {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .my-name {
    padding-top: 0;
    align-items: unset;
    height: unset;
  }

  .my-job h3 {
    padding-top: 15px;
  }

  .social {
    width: auto;
    height: 42vh;
    display: flex;
    order: 2;
  }

  .name-job {
    width: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    order: 1;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }

  .social-icons a {
    margin: 2px;
  }

  .recent-works {
    display: flex;
    width: 100%;
  }

  .recent-works h2 {
    padding: 0;
    margin: 0;
  }

  .recent-works hr {
    width: 60%;
    border: none;
    border-bottom: 1px solid #212121;
    float: right;
  }

  .works-flex {
    display: flex;
    width: 100%;
    height: 70vh;
  }

  .works-flex img {
    padding-left: 0;
    padding-right: 0;
    width: 70vw;
  }

  .see-works {
    width: 11.3vw;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .posts-container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  .posts-container p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .posts-container h3 {
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .works-btn {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .works-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }

  .works-cards {
    margin: 0;
    min-height: 45vh;
    max-height: 55vh;
  }

  .about-details {
    background-image: url(./images/about-bg.png);
    background-position: bottom 100px right;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    height: 87vh;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .about-details h4,
  .about-details p {
    margin: 0;
    width: 566px;
    text-align: left;
  }

  .about-details h4 {
    font-family: "Crete Round", sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    margin-bottom: 24px;
  }

  .about-details p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .about-details button {
    margin-left: 0;
    width: 161px;
  }

  .technologies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: unset;
    height: auto;
    padding-top: inherit;
  }

  .span-div {
    display: block;
    text-align: left;
    margin-bottom: 18px;
  }

  .technologies ul {
    align-items: unset;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
  }

  .technologies span {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
  }

  .technologies li {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact h6 {
    width: 35%;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  form {
    width: 60%;
  }

  .form-btn {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .contact form > input {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  .contact form > textarea {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer {
    height: unset;
  }
}
